.env
poetry.lock
__pycache__/
.venv/
*.pyc
github_review/venv/
github_review/.env
github_review/workspace/
github_review/README.md
github_review/requirements.txt
backend/data/projects.json
backend/workspace/
backend/__pycache__/
backend/venv/
